html {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  margin: 0 auto;
  max-width: 400px;
}

nav {
  background-color: #404041;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-size: 48px;
  padding: 18px;
  margin: 0;
  text-align: center;
}

p {
  color: #4A4A4B;
  font-size: 22px;
}

#title-1 {
  color: #ED468B;
  font-weight: 700;
}

#title-2 {
  color: #E6E7E8;
  font-weight: 300;
}

.guess {
  width: 350px;
  height: 30px;
  margin: 20px auto 16px auto;
  font-size: 20px;
  margin-left: 22px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.reply {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.last-guess {
  font-size: 200px;
  color: #EB028B;
  font-weight: 300;
  line-height: 200px;
  height: 205px;
}

button {
  border-radius: 18px;
  height: 36px;
  font-size: 18px;
  color: white;
  background-color: #929497;
}

button:hover {
  background-color: #EB028B;
}

button:disabled {
  background-color: #D0D2D3;
  cursor: not-allowed;
}

.play-button {
  margin: 0 20px;
  width: 150px;
}

.reset {
  width: 350px;
}

.change-range {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 18px auto;
}

.change-range p {
  margin: 0;
}

.change-range input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: #4A4A4B;
}

.max-number {
  margin-left: 17px;
}

.min-number {
  margin-left: 22px;
}