body {
  background: #0f0f23;
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  padding: 0 2em 0 2em;
}
a {
  color:  #cccccc
}
a:visited {
  color: #7e7e7e;
}
a:hover, a:focus {
  color: #b3b3b3;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}